* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  
}

html {
    background-color: #494E65;
}

/*remove dotted line around the links*/
a,
a:active,
a:focus {
  outline: none;
}

 .header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  position: sticky;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #bea565;
  box-shadow: 0 0 30px black;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

 .header a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 15px 15px;
  transition: 0.5s;
  font-size: 1.25em;
  transition: 0.7s;
}

.header a:hover { 
  color: white;
}

.header .header_img img {
  height: 10vh;
  transition: 0.7s;
}

.header .header_img_mobile{
  display: none;
}

.header_text_div{
    display: flex;
    direction: row;
}

.wrap-menu {
  display: none;
}

main {
    height:100vh;

    
}

.self_presentation{
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.self_presentation_txt{
  padding: 40px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}

.self_presentation_txt a{
  text-decoration: none;
}

.self_presentation_txt .fa-instagram{
  margin-left: 20px;
  font-size: 40px;
  color: rgb(184, 58, 184);
  transition: 0.5s;
}

.self_presentation_txt .fa-instagram:hover{
  transform: scale(1.2);
}

.self_presentation_txt .fa-whatsapp{
  font-size: 40px;
  color: rgb(62, 194, 62);
  transition: 0.5s;
}

.self_presentation_txt .fa-whatsapp:hover{
  transform: scale(1.2);
}

.solucoes {
  display: flex;
  align-items: center;
  justify-content:center;
  text-align: center;
  

}

.grid_solucoes{
    margin-top: 5vh;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "first second";
    max-height: auto;
    width: auto;
    
}

.grid_solucoes .content_solucoes{
  padding: 20px;
  margin: 10px;
  background-color:#91793c;
}

.grid_solucoes .content_solucoes p{
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}

.special_sol{
  display: flex;
  justify-content: center;
  align-items: center;
}



.grid_solucoes .img_solucoes img{
    width: 40%;
    height: 20%;
}



.comoChegar {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.comoChegar .text_route{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  
}

.comoChegar .text_route .text_route_fone{
  margin-top: 20px;
  color: #c9a752;
}

@media(max-width: 1100px){
    
  .header {
    display: flex;
    justify-content: space-between;
}
.header .text_header{
    display: none;
}  

.header .header_img  {
  display: none;
}

.header .header_img_mobile{
  display: block;
  left: 0;
  margin-left: 200px;
  
}

.header .header_img_mobile img {
  height: 8vh;

}

/*Mexendo no menu hamburger*/
.wrap-menu{
  display: block;
}   

.btnMenu {
  display: block;
  padding: 20px 15px;
  font-size: 2em;  

}       

.title hr{
  margin: 0;
  width: 70vw;
}

.menu{
  position: absolute;
  top: 0;
  width: 100vw;
  transform: translateX(-100%);
  transition: transform 200ms linear;
}


.menu_open{
  transform: translateX(0);
}

.fa-bars{
  font-size: 2em;  
}

.btnMenu_open{
  width: 4vw;       
  background-repeat: no-repeat;        
  background-position: 15px center;
  
}

.btnMenu_close{
  background-color: #c9a752;
  background-repeat: no-repeat;
  background-position: 15px center;
  font-size: 2em;  
  color: white;
  
}

.menu-item{
  padding: 20px 15px;
  border-bottom: 1px solid #000;
  background-color: #c9a752;
}

.menu-item-action{
  font-size: 12px;
 
}

/*Fim menu Hamburger*/

   .grid_solucoes {
      display: flex;
      flex-direction: column;     
      height: auto;
      width: auto;
    }

    .special_sol{
      display: none;
    }
    .comoChegar {
      display: flex;
      flex-direction: column-reverse;    
      padding: 20px;
    }

}